# Android / Gradle
*.iml
.gradle
.kotlin
/build
/captures
.externalNativeBuild
.cxx
local.properties
debug.keystore

# Android Studio / IntelliJ
.idea/
.DS_Store

# Node.js
node_modules/

# Environment Variables
.env
.env.local

# Build Output
dist/
build/

# Vercel
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
Thumbs.db
.DS_Store
